@page "/detailsUsuario"
@page "/detailsUsuario/{UsuarioID:int}"

@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject UsuariosService UsuariosService


@inject IJSRuntime JSRuntime
@inject AutentificacionService AutentificacionService

<PageTitle>Detalles del Usuario</PageTitle>

@if (acceso == "permitido")
{
<div class="card" style="border-radius: 20px;">
	<div class="card-header bg-primary text-center" style="border-radius: 20px 20px 0px 0px;">
			<div class="row text-white">
				<h3>Detalles del Usuario</h3>
			</div>
		</div>

		<div class="card-body">
			<div class="row">
				<div class="col-4">
					<label class="fw-bold">Cedula:</label>
					<span>@usuario.Cedula</span>
				</div>
				<div class="col-4">
					<label class="fw-bold">Usuario:</label>
				<span>@usuario.Usuario</span>
				</div>
				<div class="col-4">
					<label class="fw-bold">Contraseña:</label>
					<span>@usuario.Contrasena</span>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<label class="fw-bold">Nombre:</label>
					<span>@usuario.Nombre</span>
				</div>
				<div class="col-4">
					<label class="fw-bold">Apellido:</label>
					<span>@usuario.Apellido</span>
				</div>
				<div class="col-4">
					<label class="fw-bold">Correo Electronico:</label>
					<span>@usuario.CorreoElectronico</span>
				</div>
			</div>

			<div class="row">
			<div class="col-4">
				<label class="fw-bold">Télefono:</label>
				<span>@usuario.Telefono</span>
			</div>
			<div class="col-4">
				<label class="fw-bold">Dirección:</label>
				<span>@usuario.Direccion</span>
			</div>
			</div>
		</div>

		<div class="card-footer">
			<div class="text-end">
			<a href="centroUsuario" class="btn btn-danger"><i class="fas fa-reply"></i> Retroceder</a>
			</div>
		</div>

	</div>

}
else if(acceso == "denegado")
{

<style>

	.container {
		text-align: center;
		max-width: 600px;
		padding: 10px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
		margin-top: 18%;
	}

		.container h1 {
			font-size: 2.5rem;
			color: #333;
			margin-bottom: 20px;
		}

		.container p {
			font-size: 1.2rem;
			color: #666;
			margin-bottom: 30px;
		}

		.container i {
			font-size: 4rem;
			color: #f44336;
		}
</style>


<div class="container">
	<i class="fas fa-exclamation-triangle"></i>
	<h1>ACCESO RESTRINGIDO</h1>
	<p>Disculpa las molestias, usted no tiene acceso a este apartado, no consta de suficientes permisos.</p>
	<p>¡Regrese mas tarde!</p>
</div>
}


@code {

	public string acceso = "";

	protected override async void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			var buscado = await AutentificacionService.usuarioActual(JSRuntime, UsuariosService);
			if (buscado != null)
			{
				if (buscado.Rol == "Gerente" || buscado.Rol == "Administrador")
				{
					acceso = "permitido";
				}
				else
				{
					acceso = "denegado";
				}
				StateHasChanged();
			}
			else
			{
				await AutentificacionService.CerrarSesion(JSRuntime);
			}
		}
	}

	public Usuarios usuario = new Usuarios();

	[Parameter]
	public int UsuarioID { get; set;  }

	protected override async Task OnInitializedAsync()
	{
		if (UsuarioID > 0)
		{
			usuario = await UsuariosService.Buscar(UsuarioID);
		}
	}
}
